body {
  background: url('/assets/images/lyonnette.png') repeat;
}
.navbar {
  border-radius: 0px;
}
.quiz-img {
  box-shadow: 1px 5px 14px rgba(0,0,0,0.3);
}
.quiz-options {
  -webkit-box-shadow: 1px 1px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 12px -6px rgba(0,0,0,0.75);
}
.quiz-options li {
  background: white;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.quiz-options li:first-child {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.quiz-options li:last-child {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.quiz-options li input {
  border-left: 1px solid black;
}
.quiz-options li .status {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
}
h1.quiz-title,
h1.title {
  font-family: 'Sacramento', cursive;
  text-shadow: 1px 3px 1px #fff;
}
@media (max-width: 768px) {
  h1.quiz-title {
    font-size: 30px;
  }
}
